<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>comollegar</title>
    <link rel="stylesheet" href="stylecaleruega.css">
    <style>
        .iframe-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1 class ="titulo-principal">Caleruega</h1>
<header>
    <h2>Cómo llegar a Caleruega</h2>
</header>
<p>Caleruega se encuentra en la provincia de Burgos, en la comunidad autónoma de Castilla y León, España. Para llegar desde la ciudad de Burgos, puedes tomar la autovía A-1 en dirección a Madrid. Después de aproximadamente 20 kilómetros, toma la salida 168 hacia la N-122 en dirección a Aranda de Duero. Continúa por la N-122 durante unos 50 kilómetros hasta llegar a Caleruega. El tiempo estimado de viaje es de aproximadamente 1 hora.</p>

<p>A continuación les mostramos un mapa en el que pueden ver dónde está situado el pueblo con más detalle.</p>
<div class="iframe-container">
    <iframe
            width="425"
            height="350"
            src="https://www.openstreetmap.org/export/embed.html?bbox=-3.507943153381348%2C41.81671307583994%2C-3.4754133224487305%2C41.83439779313833&amp;layer=mapnik"
            style="border: 1px solid black">

    </iframe>
</div>
<br/><small><a href="https://www.openstreetmap.org/?#map=15/41.82556/-3.49168">Ver el mapa más grande</a></small>
</body>

<div style="text-align: center; margin-top: 20px;">
    <button onclick="location.href='index.html'">Volver a Inicio</button>
</div>
</html>