<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fiestas de Caleruega</title>
</head>
<body>
<h1 class="titulo-principal">Caleruega</h1>
<header>
    <h2>Fiestas</h2>
</header>

<p>Queridos vecinos y amigos,</p>
<p>Es un honor saludarles y darles la bienvenida a las fiestas de Santo Domingo de Guzmán y la Beata Juana de Aza...</p>

<div class="grid-container">
    <figure class="image">
        <img src="fiestas.jpg" alt="Fiestas" width="300">
        <figcaption>Procesión Santo Domingo de Guzmán.</figcaption>
        <img src="fiestas2.jpg" alt="Fiestas" width="300">
        <figcaption>Procesión Santa Juana de Aza.</figcaption>
    </figure>

    <div class="text">
        <h3>Programa de Fiestas 2024</h3>
        <ul>
            <li><strong>26 de JULIO:</strong> Bingo</li>
            <li><strong>27 de JULIO:</strong> Teatro “El genio alegre”</li>
            <li><strong>29 de JULIO:</strong> Acampada y Gymkana</li>
            <li><strong>31 de JULIO:</strong> Karaoke</li>
            <li><strong>1 de AGOSTO:</strong> Día de la Tercera Edad</li>
            <li><strong>2 de AGOSTO:</strong> Día del Niño</li>
        </ul>

        <h4>Actividades destacadas</h4>
        <ul>
            <li><strong>7 de AGOSTO:</strong> Pregón de Fiestas, Verbena, Chocolatada</li>
            <li><strong>8 de AGOSTO:</strong> Dianas, Misa, Verbena</li>
            <li><strong>17 de AGOSTO:</strong> Orquesta “Jaque Mate”, Chocolatada</li>
            <li><strong>18 de AGOSTO:</strong> Procesión, Baile, Fin de fiestas</li>
        </ul>
        <p>Para más detalles, puedes ver el <a href="https://caleruega.es/sites/caleruega/files/caleruega%20programa%202024%203.pdf">programa completo en PDF</a>.</p>
    </div>
</div>

<div style="text-align: center; margin-top: 20px;">
    <button>Volver a Inicio</button>
</div>
</body>
</html>
