<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Caleruega</title>
    <link rel="stylesheet" href="stylecaleruega.css">
</head>
<body>

<h1 class ="titulo-principal">Caleruega</h1>

<div class="contenedor">
    <div>
        <img src="historia.jpg" width="200">
        <h2>Historia</h2>
        <p>Conoce la historia de Caleruega.</p>
        <a href="historia.html">
            <Button>Leer más</Button>
        </a>
    </div>
    <div>
        <img src="cultura.jpg" width="200">
        <h2>Fiestas</h2>
        <p>Disfruta de las festividades de Caleruega.</p>
        <a href="fiestas.html">
            <Button>Leer más</Button>
        </a>
    </div>
    <div>
        <img src="comollegar.jpg" width="200">
        <h2>Cómo llegar</h2>
        <p>Accede para ver cómo llegar a Caleruega.</p>
        <a href="comollegar.html">
            <Button>Leer más</Button>
        </a>
    </div>
</div>

<div id="ads-container"></div>
<h2>Contacto</h2>
<p>Para más información, escríbenos a <b>info@caleruega.com</b>. También puede escribirnos en la casilla siguiente: </p>
<form action="" method="get" class="formulario">
    <div class="formulario">
        <label for="name">
            Nombre:
        </label>
        <input type="text" id="name" name="name" required>
    </div>
    <div class="formulario">
        <label for="email">
            Correo electrónico:
        </label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="formulario">
        <label for="message">
            Mensaje:
        </label>
        <textarea id="message" name="message" required></textarea>
    </div>
    <div class="formulario">
        <button type="submit">Enviar</button>
    </div>
</form>
<script src="scriptcaleruega.js"></script>
</body>
</html>
